@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

.containerPlayers {
	font-family: 'Viga';
	position: relative;
	width: 80px;
	height: 80px;
	margin: 48px 24px 48px 24px;

	.pseudo {
		position: absolute;
		top: -35px;
		left: 0;
		right: 0;
		text-align: center;
		color: #ffffff;
	}

	.life {
		position: absolute;
		top: -5px;
		z-index: 100;
	}

	.word {
		position: absolute;
		bottom: -35px;
		left: 0;
		right: 0;
		text-align: center;
		color: #ffffff;
	}
}