@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

* {
	font-family: 'Viga', sans-serif;
}

html {
	background: linear-gradient(180deg, #191831 0%, #131226 100%) no-repeat;
	background-size: 100vw 100vh;
	height: 100vh;
}
