.landing-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	.landing-page-title {
		font-size: 1.5rem;
		color: white;
		margin: 0 0 0.5rem 0;
		font-weight: 500;
	}

	.landing-page-error-message {
		color: #fd4042;
		margin: 0;
		display: none;

		&.show {
			display: block;
		}
	}
}
